@page
@model Web.Pages.Mentions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>

<p></p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].MentionCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mention[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mention) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentionCategory)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-danger">Edit</a>
                <form method="post">
                    <input type="hidden" asp-for="@item.ID" name="id"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
