@page
@model Web.Pages.Mentions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

    .btn {
        float: left;
        margin: 2px;
    }
</style>



@foreach (var item in Model.Mention)
{
    <p>
        <div class="jumbotron">
            <h5 class="display-4">@Html.DisplayNameFor(model => model.Mention[0].Title): @Html.DisplayFor(modelItem => item.Title)</h5>
            <p><img src="@Html.DisplayFor(modelItem => item.Image)" /></p>
            <p>@Html.DisplayFor(modelItem => item.CreateDate)</p>
            <p class="lead">@Html.DisplayNameFor(model => model.Mention[0].Description):</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <hr class="my-4">
            <p>@Html.DisplayNameFor(model => model.Mention[0].Likes): @Html.DisplayFor(modelItem => item.Likes) | @Html.DisplayNameFor(model => model.Mention[0].Views): @Html.DisplayFor(modelItem => item.Views)</p>
            <p class="lead">
                <div>
                    <div>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                        <form method="post">
                            <input type="hidden" asp-for="@item.ID" name="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>

            </p>
        </div>
    </p>

}

